<!DOCTYPE html> 
<html>   
	<head>     
	<title>Gestión de Productos</title>     
	<link rel='stylesheet' href='/stylesheets/style.css' />     
	<% include ../head %> 
	</head>   
<body>

	<h1>Productos</h1>


	<a class="myButton" href="/product/product_new">Agregar +</a>
	
	<h3>Listado:</h3>

	<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Fecha</td>
			<td>Linea</td>
			<td>Codigo</td>
			<td>Marca </td>
			<td>Descripcion</td>
			<td>Nombre Comercial</td>
			<td> Imagen </td>
			<td> Acciones </td>
		</tr>
	</thead>
	<tbody>
		<% for (var i = 0 ; i < producto.length ; i ++){ %>                         
		<tr>                             
			<td><%= producto[i].id_producto %></td>                             
			<td><%= moment(producto[i].fecha).format('DD/MM/YYYY') %></td>                          
			<td><%= producto[i].linea %></td> 
			<td><%= producto[i].codigo %></td>
			<td><%= producto[i].marca %></td>
			<td><%= producto[i].descripcion %></td>
			<td><%= producto[i].n_comercial %></td>
			<td><%= producto[i].imagen %></td>
			<td>                                 
			<form action="/product/product_edit" method="post">
			<input  type="hidden" name="id_producto" value="<%= producto[i].id_producto %>">                                         
			<input  class="btn btn-primary" type="submit" value="Editar">                                 	
			</form>                                 
			<form action="/product/product_delete" method="post">                                          			
			<input  type="hidden" name="id_producto" value="<%= producto[i].id_producto %>">                                         
			<input  class="btn btn-alert" type="submit" value="Eliminar">                                  
			</form> 
			</td>                        
		</tr>                         
		<% } %>
	</tbody>
	</table>


	<footer>         
		<% include ../footer %>     
	</footer>


</body> 
</html>
