<!DOCTYPE html>
<html>

<head>
	<title>Gestión de Almacen</title>
	<% include ../head %>
	</head>
<body>

<div class="container">	
	<h1>Gestión de Almacen</h1>
		                 
	<a class="btn btn-primary" href="/warehouse/warehouse_new">Agregar +</a>
	

	<h3>Listado:</h3>

	<table class="table table-striped" >                 
		<thead>                         
			<tr>
				<td>Id</td>
				<td>Nombre</td>
				<td>Direccion</td>
				<td>Acciones</td>
			 </tr>
		</thead>
		<tbody>
			<% for (var i = 0 ; i < almacen.length ; i ++){ %>
			<tr>
			    <td><%= almacen[i].id_almacen %></td>
			    <td><%= almacen[i].nombre %></td>
			    <td><%= almacen[i].direccion %></td>
			    <td>
				<form action="/warehouse/warehouse_edit" method="post">
					<input  type="hidden" name="id_almacen" value="<%= almacen[i].id_almacen %>">
					<input  class="btn btn-primary" type="submit" value="Editar">
				</form>
				<form action="/warehouse/warehouse_delete" method="post">                                         
					<input  type="hidden" name="id_almacen" value="<%= almacen[i].id_almacen %>">                                         
					<input  class="btn btn-alert" type="submit" value="Eliminar">                                 
				</form>
			    </td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
	<footer>
		<% include ../footer %>
	</footer>


</body>
</html>

